.container{
    display: flex;
    padding:3rem;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    
}
.container_theme1{
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);
}
.container_theme2{
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);

  }

.container_theme3{
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);
}

.images{
    width:1.5rem;
    height: 1.5rem;
}
.mailtip {
    position: relative;
    display: flex;  
    align-items: center;
    border-bottom: 1px dotted black;
    background-color: var(--footer-icon-color);
    margin: 0.5rem;
    border-radius: 1rem;
    padding:0.3rem;
    cursor: pointer;
    text-decoration: none;

   
}
.mailtip_theme1{
  background-color:var(--secondary-theme1) ;
  color:var(--primary-theme1);
}
.mailtip_theme2{
  background-color: var(--secondary-theme2);
  color:var(--primary-theme2);
}
.mailtip_theme3{
  background-color: var(--secondary-theme3);
  color:var(--primary-theme3);
}
.mailtipText{
  padding:0 0.5rem;
  text-decoration: none;
}
.mailtip:hover {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px dotted black;
    background-color: var(--footer-icon-color-hover);
    margin: 0.5rem;
    border-radius: 1rem;
    padding: 0.3rem 2rem;
    cursor: pointer;
    overflow: auto;
    color:white;
    background-color: aqua;
}
  
.mailtip_theme1:hover{
  background-color:var(--secondary-theme1) ;
  color:var(--primary-theme1);
}
.mailtip_theme2:hover{
  background-color: var(--secondary-theme2);
  color:var(--primary-theme2);
}
.mailtip_theme3:hover{
  background-color: var(--secondary-theme3);
  color:var(--primary-theme3);
}
  .mailtip .mailtiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: auto;
  }
  
  .mailtip .mailtiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    overflow: auto;
  }
  
  .mailtip:hover .mailtiptext {
    visibility: visible;
    opacity: 1;
  }
      
  @media (max-width: 1100px) {
    .mailtipText{
      display: none;
    }
  }