.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    --line-height:5rem;
  align-items: center;
}
.mainText1{
  text-align: center;
  margin: 1rem 0;

}
.mainText2{
  text-align: center;
  margin: 1rem 0 0 0;

}
.minicontainer1{
  margin-bottom: 1rem;
}
.subText{
  margin: 1rem 0;
}
  .container_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);

  }
  .container_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);   


  }
  .container_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);

  }

 
  
  .activities {
    margin-top: 20px;
  }
  
  /* .activities h2 {
    color: #333;
  } */
  
  .list{
    list-style-position: inside;
	width: 600px;
	max-width: 100%;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.3rem;
    list-style-type:square;

}
.list_theme1{
  background-color:var(--secondary-theme1) ;
  color:var(--primary-theme1);
}
.list_theme2{
  background-color: var(--secondary-theme2);
  color:var(--primary-theme2);
}

.list_theme3{
  background-color: var(--secondary-theme3);
  color:var(--primary-theme3);
}
.list>*{
    padding:1rem;

}




.list>*:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

.list>*:first-child {
	margin-top: 1rem;
}

.list>*:last-child {
	margin-bottom: 1rem;
}
