@media (min-width: 1101px) {
  /* Adjust breakpoints as needed */

  .container {
    padding: 1rem;
  }
  .container_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);
  }
  .container_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);
  }
  .container_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);
  }

  .top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
  }
  .bottom {
    padding: 2rem;
    box-sizing: border-box;
  }
  .selected_experience {
    color: var(--selected-navbar-text);
    background-color: var(--selected-navbar);
    padding: 1rem; /* Transition to padding 1rem */
    border-radius: 0.3rem;
    animation-name: selectedfornav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes selectedfornav {
    0% {
      padding: 0;
    }
    100% {
      padding: 1rem;
      background-color: var(--selected-navbar);
      color: var(--selected-navbar-text);
    }
  }
  .experience1,
  .experience2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
  }
  .wiprologo,
  .amarajalogo {
    width: 10rem;
    margin: 1rem;
    height: 10rem;
    border-radius: 0.3rem;
    object-fit: cover;
    background-color: white;
  }

  .minicontainer1,
  .minicontainer2 {
    display: flex;
  }
  .each_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .each_experience > * {
    padding: 0.3rem;
    /* background-color: red; */
  }
  .outlinkATags{
    text-decoration: none;
  }
  .outlinks {
    display: flex;
    padding: 1rem;
    border: 0px solid white;
    border-radius: 0.3rem;
    cursor:pointer;
    font-size: 1rem;
  }
  .outlinks:hover{
    padding:1.5rem;
    background-color: var(--button-hover);
    color:var(--button-hover-text);
    text-decoration:none;
  }
  .button_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);
  }
  .button_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);
  }
  .button_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);
  }
}




@media (max-width: 1100px) {
  /* for mobile */

  .container {
    padding: 1rem;
  }
  .container_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);
  }
  .container_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);
  }
  .container_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);
  }

  .top {
    box-sizing: border-box;
  }
  .bottom {
    padding: 2rem;
    box-sizing: border-box;
  }
  
  @keyframes selectedfornav {
    0% {
      padding: 0;
    }
    100% {
      padding: 1rem;
      background-color: var(--selected-navbar);
      color: var(--selected-navbar-text);
    }
  }
  .experience1,
  .experience2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
  }
  .wiprologo,
  .amarajalogo {
    width: 5rem;
    margin: 1rem 0.3rem 1rem 0;
    height: 5rem;
    border-radius: 0.3rem;
    object-fit: cover;
    background-color: white;
  }

  .minicontainer1,
  .minicontainer2 {
    display: flex;
  }
  .selected_experience {
    color: var(--selected-navbar-text);
    background-color: var(--selected-navbar);
    padding: 1rem; 
    border-radius: 0.3rem;
    animation-name: selectedfornav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .each_experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .each_experience>h2{
    font-size: 1.2rem;
  }
  .each_experience > h3{
    font-size: 0.9rem;
    /* background-color: red; */
  }
  .each_experience > * {
    padding: 0.3rem;
    /* background-color: red; */
  }
  .outlinks {
    padding: 0.5rem;
    border: 0px solid white;
    border-radius: 0.3rem;
    cursor:alias;
  }
  .outlinkATags{
    text-decoration: none;
  }
  .button_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);
  }
  .button_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);
  }
  .button_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);
  }

  
}
