.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    --line-height:5rem;

  }
  .container_theme1 {
    background-color: var(--primary-theme1);
    color: var(--secondary-theme1);

  }
  .container_theme2 {
    background-color: var(--primary-theme2);
    color: var(--secondary-theme2);   


  }
  .container_theme3 {
    background-color: var(--primary-theme3);
    color: var(--secondary-theme3);

  }