.minicontainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.maintext{
padding:1rem;
}
.migrationimage,.googleanalyticsimage{
    border-radius: 1rem;
    margin:1rem;
    width: 30rem;
    height: 30rem;
    object-fit: contain;
}

.minicontainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


