*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lobster',sans-serif;
    transition: all 0.3s ease; 
    overflow: hidden;
}


:root{
    --color-primary-theme1:rgb(74, 183, 220);
    --color-secondary-theme1: black;

    --color-primary-theme2:black;
    --color-secondary-theme2: white;

    --color-primary-theme3: #00203FFF;
    --color-secondary-theme3: #ADEFD1FF;

    --color-menu:aquamarine   ;

    --selected-navbar:aquamarine;
    --selected-navbar-text:black;
}