:root{
    /* --top-var:#FFA500; */
    --top-var: #FF5F1F; 

    --top-var-compliment:black;
    --color-menu:var( --top-var);

    
    /* --primary-theme1: #F2AA4C;
    --secondary-theme1: #101820; */
    --primary-theme1:#8AB6F9;
    --secondary-theme1: #011c52;
    

    --primary-theme2:#e7dac7;
    --secondary-theme2: #241f1c;

    --primary-theme3: #ffb8b1;
    --secondary-theme3: #993441;
    

    --selected-navbar:var( --top-var);
    --selected-navbar-text:var(--top-var-compliment);

    --button-hover:var(--top-var-compliment);
    --button-hover-text:var( --top-var);
    
    --academic-life-centerline:var( --top-var);


    

 
    --project-background:var( --top-var);
    --project-background-text: var(--top-var-compliment);
    
    

    --hovered-project-color:var( --top-var);
    --hovered-project-color-text:var(--top-var-compliment);
    --hovered-academic-life:var( --top-var);
}


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lobster',sans-serif;
    transition: all 0.3s ease;   
    /* overflow-x: hidden; */
    scrollbar-width: thin; /* For Firefox: makes the scrollbar thin */
}
body{
    overflow-y: auto;
}
/* Custom scrollbar styles for all elements */
*::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track of the scrollbar */
*::-webkit-scrollbar-track {
    background: none; /* Removes the scrollbar background */
}

/* Handle of the scrollbar */
*::-webkit-scrollbar-thumb {
    background-color: #3498db; /* Custom scrollbar color */
    border-radius: 10px; /* Rounds the scrollbar edges */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9; /* Darker shade when hovered */
}

/* Remove scrollbar arrows */
*::-webkit-scrollbar-button {
    display: none; /* Hides the up/down arrows */
}





@media (max-width: 1100px) { /* for mobile */


body{

overflow: auto;
}

}